body{
	/* color: white; */
	font-family: 'Merriweather', serif;

}
.logo{
	font-size: 3rem;
	text-align: center;
	padding: 0.5rem;
	font-weight: 500;
}
.container{
	/* width: 50%; */
	/* position: relative; */
	/* height: 90%; */
	margin: auto;
	text-align:center;
}
body{
	background-image: url('../images/sea-ocean-horizon-mountain-snow-cloud-7497-pxhere.com.jpg') ;
	width: 100%;
	height: 100vh;
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 	
}
.searchNavBar{
	text-align: center;
	width: 100%;
	margin: auto;
	padding: 1rem;

}
.title{
	/* display: inline-block; */
	font-size: 1rem;
}
.showcase{
	width:90vw;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	padding: 0.3rem;
	margin: 0.3rem auto;
	border-radius: 5%;
}
.searchesContainer{
	width:90vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: rgba(1,1,1,0.2);
	/* padding: 5px; */
	margin: 0.2rem auto;
	border-radius: 5%;
}
.card{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 200px;
	height: auto;
	margin: 1rem;
	padding: 0.5rem;
	/* border: 2px solid grey; */
	box-shadow: 2px 2px #888888;

}
.day{
	background-image: url('../images/nature-horizon-cloud-sky-sunlight-atmosphere-1248502-pxhere.com.jpg') ;
	width: 100%;
	height: 100%;
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
}
.night{
	color: white;
	background-image: url('../images/	tree-silhouette-sky-night-star-milky-way-3355-pxhere.com.jpg') ;
	width: 100%;
	height: 100%;
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 

}
.title{
	font-size: 2rem;
}
.temperature{
	font-size: 2rem;
}
.icon{
	width: 5rem;
	height: 5rem;
}
