.location{
	/* color: red; */
	font-size: 2rem;
}
body{
	/* color: white; */
	font-family: 'Merriweather', serif;

}
.logo{
	font-size: 3rem;
	text-align: center;
	padding: 0.5rem;
	font-weight: 500;
}
.container{
	/* width: 50%; */
	/* position: relative; */
	/* height: 90%; */
	margin: auto;
	text-align:center;
}
body{
	background-image: url('../images/sea-ocean-horizon-mountain-snow-cloud-7497-pxhere.com.jpg') ;
	/* width: 100%; */
	height: 100vh;
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 	
	max-width:70vw;
	margin: auto;

}
.searchNavBar{
	text-align: center;
	width: 100%;
	margin: auto;
	padding: 1rem;

}
.showcase{
	/* max-width:70vw; */
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	padding: 0.3rem;
	margin: 0.3rem auto;
	border-radius: 5%;
}
.current-icon{
	margin: auto;
	width: 7rem;
	height: 7rem;
	background-color: rgba(0,0,0,0.2);
	padding: 0.5rem;
	border-radius: 30%;
}
.searchesContainer{
	/* width:90vw; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: rgba(1,1,1,0.2);
	/* padding: 5px; */
	margin: 1rem auto;
	/* text-align: center; */
	border-radius: 5%;
}

.card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* width: 200px; */
	/* height: auto; */
	margin: 1rem;
	padding: 0.5rem;
	box-shadow: 2px 2px #888888;
}
.day{
	background-image: url('../images/nature-horizon-cloud-sky-sunlight-atmosphere-1248502-pxhere.com.jpg') ;
	/* width: 90%; */
	/* height: %; */
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
}
.night{
	color: white;
	background-image: url('../images/	tree-silhouette-sky-night-star-milky-way-3355-pxhere.com.jpg') ;
	/* width: 100%; */
	/* height: 100%; */
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
}

.temperature{
	font-size: 2rem;
}
.icon{
	width: 5rem;
	height: 5rem;
}

